{% extends "base.html" %}
{% load filters %}

{% block body_class %}home-background{% endblock %}

{% block conteudo %}
<div id="card_hist" class="card_hist">
    <div class="card-body-hist">
        <div class="card-title_hist">
            <h3>Meus empréstimos</h3>
        </div>
        <div class="card-text">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Livro</th>
                        <th scope="col">Data Empréstimo</th>
                        <th scope="col">Data Devolução</th>
                        <th scope="col">Disponibilidade</th>
                        <th scope="col">Devolver</th>
                    </tr>
                </thead>
                <tbody>
                    {% for livro in emprestimos %}
                    <form action="{% url 'emprestimo:devolucao:devolver' %}" method="POST">
                        {% csrf_token %} 
                        <tr>
                            <th scope="row">{{ livro.id }}</th>
                            <td><a href="{% url 'livro:detalhes' livro.livro_emprestar_id %}" class="detalhe_livro">{{ livro.livro_emprestar_id }}
                            </a>
                            </td>
                            <td>{{ livro.data_emprestimo }}</td>
                            {% if not livro.data_devolucao %}
                                <td>
                                    <h5>X</h5>
                                </td>
                                <td>
                                    <h6>Emprestado</h6>
                                </td>
                                <td id="botao_devolver">
                                    <button type="submit" id="botao" class="btn">Devolver</button>
                                </td>
                                {% else %}
                                <td>
                                    {{ livro.data_devolucao }}
                                </td>
                                <td>
                                    <h6>Disponível</h6>
                                </td>
                                <td>
                                    <h6>Devolvido</h6>
                                </td>  
                                {% endif %}
                            <input type="hidden" name="id" value="{{ livro.id }}">
                            <input type="hidden" name="first_name" value="{{ livro.nome_estudante }}">
                            <input type="hidden" name="nome_estudante" value="{{ request.user.id }}">
                            <input type="hidden" name="livro_emprestar_id" value="{{ livro.livro_emprestar_id }}">
                        </tr>
                    </form>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>    
</div>
{% endblock %}