{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block body_class %}login-background{% endblock %}

{% block titulo %}Cadastro | {% endblock %}

{% block conteudo %}

<div class="card">
    <div class="card-body"> 
        {% block titulocadastro %}
        <h2 class="card-title">Cadastro</h2>
        <p class="card-text">Para se cadastrar, preencha o formulário com suas informações.</p>
        {% endblock %}

        <form method="POST">
            {% csrf_token %}
            {{ userform.username|as_crispy_field }}
            <div class="linha1">
                <div class="campo" id="nome">{{ userform.first_name|as_crispy_field }}</div>
                <div class="campo" id="sobrenome">{{ userform.last_name|as_crispy_field }}</div>
                <div class="campo" id="nascimento">{{ perfilform.data_nascimento|as_crispy_field }}</div>
            </div>
            <div class="contato">
                <div class="campo" id="email">{{ userform.email|as_crispy_field }}</div>
                <div class="campo" id="telefone">{{ perfilform.telefone|as_crispy_field }}</div>
            </div>
            {{ userform.password|as_crispy_field }}
            {{ userform.password2|as_crispy_field }}
            <div class="botao">
                <button type="submit" id="botao" 
                        class="btn btn-block btn-lg">
                    ENVIAR
                </button>
            </div>
        </form>
    </div>
</div>

{% endblock %}
