{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}

<footer id="fixed-footer" class="container_geral">
    <div class="container">
        <div class="texto_django" style="color: white; text-align: center">
            <b>Feito com Django</b>
        </div>
        <div class="texto_autor" style="color: white">
            <b>Por Gabriel Ferreira</b>
        </div>
    </div>
</footer>

<script src="{% static 'assets/bootstrap/js/jquery-3.2.1.slim.min.js' %}"></script>
<script src="{% static 'assets/bootstrap/js/popper.min.js' %}"></script>
<script src="{% static 'assets/bootstrap/js/bootstrap.min.js' %}"></script>
<script defer src="{% static 'assets/font-awesome/js/all.js' %}"></script>
<script src="{% static 'assets/custom/js/scripts.js' %}"></script>