{% load static %}

<nav class="navbar navbar-dark bg-dark navbar-expand-lg">
    <div class="img_logo">
        <a class="titulo" href="{% url 'livro:home' %}"><img src="{% static 'img/Capa_Logo.jpg' %}" alt="" style="width: 45px; height: 60px;"></a>
    </div>
    <div class="menu">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>

    <div class="collapse navbar-collapse" id="botoes_navbar">
        <div class="meus_itens">
            <ul class="navbar-nav ml-auto">
                {% if request.user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'emprestimo:meus_emprestimos' %}">Meus livros</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'usuario:cadastrar' %}">Meu perfil</a>
                </li>
                {% endif %}
            </ul>
        </div>
        {% comment %} <form method="GET" action="{% url 'produto:busca' %}" class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" name="termo" value="{{ request.GET.termo }}" type="search" placeholder="Pesquisar" aria-label="Search">
            <button class="btn btn-secondary my-2 my-sm-0" type="submit">Pesquisar</button>
        </form> {% endcomment %}
    </div>
    {% if request.user.is_authenticated %}
    <div class="boasvindas">
        <p id="texto_bemvindos">Seja bem vindo(a) {{ request.user.first_name }} - {{ request.user.usuario.matricula }}</p>    
    </div>
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">    
            <a id="texto_sair" class="nav-link active" href="{% url 'usuario:logout' %}">Sair</a>
        </li>
    </ul>
    {% else %}
    <div class="cadastrar_botoes">
        <a id="botao" class="btn" href="{% url 'usuario:cadastrar' %}">Cadastrar</a>
        <a id="botao" class="btn" href="{% url 'usuario:login' %}">Entrar</a>
    </div>
    {% endif %}
</nav>