{% load static %}

<!doctype html>
<html lang="en">
<head>
{% include 'parciais/_head.html' %}
    <title>{% block titulo %}{% endblock %} Projeto Biblioteca com Python</title>
</head>

<body class="{% block body_class %}{% endblock %}">
    
{% include 'parciais/_navbar.html' %}

<div class="wrapper">
    <main id="content" class="container mt-4 mb-4">
        {% include 'parciais/_messages.html' %}
        {% block conteudo %}{% endblock %}
    </main>
    <footer>
        {% include 'parciais/_footer.html' %}
    </footer>
</div>

<script src="{% static 'js/app.js' %}"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.11.6/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.min.js"></script>
</body>

</html>
