{% extends 'base.html' %}
{% load static %}

{% block body_class %}home-background{% endblock %}

{% block conteudo %}
<div class="container mt-4">
    <div class="slider">
        {% for livro in livros %}
            <div class="item">
                <form action="{% url 'emprestimo:emprestar:registrar' %}" method="POST">
                {% csrf_token %}
                <div class="card card_estante">
                    {% if livro.img %}
                        <img src="{{ livro.img.url }}" id="foto_capa_estante" class="card-img-top" alt="capa">
                    {% else %}
                        <img src="{% static 'media/livro_generico.jpg' %}" id="foto_capa_estante" class="card-img-top" alt="capa padrão">
                    {% endif %}
                    <div class="card-body card_body_estante">
                        <h5 class="card-title">{{ livro.titulo }}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">{{ livro.autor }}</h6>
                        {% if livro.emprestado %}
                            <h6>Indisponível</h6>
                        {% else %}
                            <h6>Disponível</h6>
                        {% endif %}
                        <input type="hidden" name="nome_estudante" value="{{ request.user.id }}">
                        <input type="hidden" name="id" value="{{ livro.id }}">
                    </div>
                    <div class="botoes_card_livro">
                        <button type="submit" id="botao" class="btn botao_card_livro">Alugar</button>
                        <a href="{% url 'livro:detalhes' livro.id %}" id="botao_detalhe" class="btn" style="margin-top: 1em;">Mais detalhes</a>
                    </div>
                </div>
                </form>
            </div>
        {% endfor %}
        <a id="next" href="#cardCarousel" role="button" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
        </a>
        <a id="prev" href="#cardCarousel" role="button" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        </a>
    </div>
</div>
{% endblock %}
