{% extends "base.html" %}

{% block conteudo %}

<div class="container">
    <div class="row">
        {% for livro in livros %}
        <div class="card" style="width: 18rem;">
            <img src="{{livro.img.url}}" class="card-img-top" alt="capa">
            <div class="card-body">
                <h5 class="card-title">{{livro.nome}}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{livro.autor}}</h6>
                {% if livro.emprestado %}
                    <h6>Indisponível</h6>
                {% else %}
                    <h6>Disponível</h6>
                {% endif %}
                <a href="{% url 'detalhes' livro.id %}" class="btn btn-primary">Mais detalhes</a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>


{% endblock %}